/* general styling */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	text-decoration: none;
	list-style: none;
}

/* navBar */
#main-nav {
	display: flex;
	justify-content: space-between;
	background-color: #006d77;
	padding: 10px;
}

#main-nav input {
	padding: 0 5px;
	border-radius: 5px;
}

/* Main */
body {
	font-family: "Kiwi Maru", serif;
	background-color: #edf6f9;
	color: #fff;
	text-align: center;
}

.btn {
	font: inherit;
}

/* Submission header  */
.add-book-btn {
	background-color: #e29578;
	width: 100%;
	padding: 5px 10px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.add-book-btn:hover {
	color: #fff;
}

#submit {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

#inputContainer {
	display: none;
	border-radius: 8px;
	margin: 80px auto;
	position: relative;
	height: 300px;
	width: 300px;
	background-color: #006d77;
}

#inputContainer li h3 {
	text-align: start;
}

#inputContainer li input {
	width: 200px;
	padding: 5px 10px;
	margin: 5px 0;
}

/* Library section */

#library {
	/* height: 100px; */
	color: #000;
	background-color: #e5e5e5;
	padding: 10px 40px;
	margin: 20px 10px;
	border-radius: 8px;
}

#library h3 {
	text-align: left;
	text-decoration: underline;
}

#book-list {
}

.book-item {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
}

.delete-book {
	padding: 3px;
	background-color: #e63946;
	border-radius: 3px;
}
.delete-book:hover {
	color: #fff;
}
